# txt 파일 읽어 들이기

In [1]:
import pandas as pd

In [5]:
# 20Table
df_20TABLE = pd.read_csv("./files_org/SAMPLE_DB_20TABLE_2013.txt", sep=",")
df_20TABLE.head(1)

,key,no,DMD_FRM_CD,DMD_TP_CD,FOM_CD,AGG,SelectionProb,SamplingWeight,PAT_AGE,SEX_TP_CD,...,VST_DDCNT,RVD_RPE_TAMT_AMT,RVD_SLF_BRDN_AMT,RVD_INSUP_BRDN_AMT,SOPR_YN,PRCL_SYM_TP_CD,MAIDCL_CD,RADT_DIAG_YN,RADT_TRET_YN,yno
0,1,169,3,0,3,13,0.030001,33.332599,62.0,1,...,1,9430,2800,6630,0,$,$,$,$,30796

In [6]:
# df_30TABLE
df_30TABLE = pd.read_csv("./files_org/SAMPLE_DB_30TABLE_2013.txt", sep=",")
df_30TABLE.head(1)

,key,CZ_CD,ITEM_CD,DIV_TY_CD,DIV_CD,SP1_SP2_TP_CD,UNPRC,FQ1_MDCT_QTY,DY1_MDCT_QTY,DY1_INJC_QTY_EXEC_FQ,TOT_INJC_DDCNT_EXEC_FQ,TOT_USE_QTY_OR_EXEC_FQ,AMT,ADDC_ADT_AMT,LN_NO,GNL_NM_CD
0,1,01,2,1,AA254,1,9430,1.0,1.0,1.0,1,1.0,9430,9430,1,$

In [7]:
# df_40TABLE
df_40TABLE = pd.read_csv("./files_org/SAMPLE_DB_40TABLE_2013.txt", sep=",")
df_40TABLE.head(1)

   key  SICK_SNO SICK_DGSBJT_CD DMD_SICK_SYM  DMD_DGSBJT_CD
0    1         3             01         K599              1

In [8]:
# df_53ABLE
df_53TABLE = pd.read_csv("./files_org/SAMPLE_DB_53TABLE_2013.txt", sep=",")
df_53TABLE.head(1)

,key,LN_NO,PRSCP_GRANT_NO,DIV_TY_CD,UNPRC,FQ1_MDCT_QTY,DY1_MDCT_QTY,TOT_INJC_DDCNT_EXEC_FQ,TOT_USE_QTY_OR_EXEC_FQ,AMT,GNL_NM_CD
0,1,4,2013010801012,3,80,1.0,3.0,3,9.0,720,294300ACS

# 메타정의서 컬럼명 가지고 오기

In [11]:
df_20TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "20table_명세서일반내역",
                               usecols = "A, D")
df_20TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [ ]:
# df_30TABLE_col, df_30TABLE_col, df_53TABLE_col 모두 가지고 오기..

In [12]:
df_30TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "30table_진료내역",
                               usecols = "A, D")
df_30TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [13]:
df_40TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "40table_상병",
                               usecols = "A, D")
df_40TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [14]:
df_53TABLE_col = pd.read_excel("./files_org/표본자료 변수 테이블(2012-2013).xlsx", 
                               sheet_name = "53table_처방전상세내역",
                               usecols = "A, D")
df_53TABLE_col.head(1)

   변수명   표준한글컬럼명
0  key  명세서 연결코드

In [15]:
df_20TABLE.head(1)

,key,no,DMD_FRM_CD,DMD_TP_CD,FOM_CD,AGG,SelectionProb,SamplingWeight,PAT_AGE,SEX_TP_CD,...,VST_DDCNT,RVD_RPE_TAMT_AMT,RVD_SLF_BRDN_AMT,RVD_INSUP_BRDN_AMT,SOPR_YN,PRCL_SYM_TP_CD,MAIDCL_CD,RADT_DIAG_YN,RADT_TRET_YN,yno
0,1,169,3,0,3,13,0.030001,33.332599,62.0,1,...,1,9430,2800,6630,0,$,$,$,$,30796

In [18]:
#df_20TABLE.rename(columns = 딕셔너리_데이터)

In [24]:
temp_dict = {}
temp_dict["key1"] = "value1"
temp_dict["key2"] = "value2"
temp_dict["key3"] = "value3"
print(temp_dict)

temp_dict["key2"]

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

'value2'

In [32]:
df_20TABLE_col_list = df_20TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_20 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_20TABLE_col_list :
    new_dict_20[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_20TABLE_kor = df_20TABLE.rename(columns = new_dict_20)
df_20TABLE_kor.head(1)

,명세서 연결코드,수진자고유번호,청구형태코드,청구구분코드,서식코드,연령군,추출확률,샘플가중치,수진자연령,성별구분코드,...,내원일수,심결요양급여비용총액,심결본인부담금,심결보험자부담금,수술여부,특정기호구분코드,의료급여종별코드,방사선진단여부,방사선치료여부,요양기관 고유번호
0,1,169,3,0,3,13,0.030001,33.332599,62.0,1,...,1,9430,2800,6630,0,$,$,$,$,30796

In [33]:
df_30TABLE_col_list = df_30TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_30 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_30TABLE_col_list :
    new_dict_30[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_30TABLE_kor = df_30TABLE.rename(columns = new_dict_30)
df_30TABLE_kor.head(1)

,명세서 연결코드,항코드,목코드,분류유형코드,분류코드,1_2구분코드,단가,1회투약량,1일투약량,1일투여량실시횟수,총투여일수또는실시횟수,총사용량또는실시횟수,금액,가산적용금액,줄번호,일반명코드
0,1,01,2,1,AA254,1,9430,1.0,1.0,1.0,1,1.0,9430,9430,1,$

In [35]:
df_40TABLE_col_list = df_40TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_40 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_40TABLE_col_list :
    new_dict_40[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_40TABLE_kor = df_40TABLE.rename(columns = new_dict_40)
df_40TABLE_kor.head(1)

   명세서 연결코드  상병일련번호 상병진료과목코드 청구상병기호  청구진료과목코드
0         1       3       01   K599         1

In [36]:
df_53TABLE_col_list = df_53TABLE_col.to_dict("records")
# {'변수명': 'key', '표준한글컬럼명': '명세서 연결코드'}

new_dict_53 = {}
# {key' :'명세서 연결코드'}

for dict_kv in df_53TABLE_col_list :
    new_dict_53[dict_kv["변수명"]] = dict_kv["표준한글컬럼명"]
    
# new_dict_20
df_53TABLE_kor = df_53TABLE.rename(columns = new_dict_53)
df_53TABLE_kor.head(1)

,명세서 연결코드,줄번호,처방전교부번호,분류유형코드,단가,1회투약량,1일투약량,총투여일수또는실시횟수,총사용량또는실시횟수,금액,일반명코드
0,1,4,2013010801012,3,80,1.0,3.0,3,9.0,720,294300ACS

In [38]:
df_20TABLE_kor.to_excel("./files_new/df_20TABLE_kor_명세서일반내역.xlsx", index=False)
df_30TABLE_kor.to_excel("./files_new/df_30TABLE_kor_진료내역.xlsx", index=False)
df_40TABLE_kor.to_excel("./files_new/df_40TABLE_kor_상병.xlsx", index=False)
df_53TABLE_kor.to_excel("./files_new/df_53TABLE_kor_처방전상세내역.xlsx", index=False)