# Pandas DataFrame

### Series

In [1]:
# 라이브러리 불러들이기
import pandas as pd

In [3]:
# Series
sd1 = pd.Series(['Dog','Cat','Tiger','Lion', 'Monkey'],
               index = ['00','11','22','33','44'])
sd1

00       Dog
11       Cat
22     Tiger
33      Lion
44    Monkey
dtype: object

#### Dictionary To Series

In [6]:
dict_data = {'a': 1, 'b' :2,'c' : 3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [8]:
sd2 = pd.Series(dict_data)
sd2

a    1
b    2
c    3
dtype: int64

In [10]:
type(sd2)

pandas.core.series.Series

### List To Series

In [11]:
list_data = ['Dog','Cat','Tiger']
sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [12]:
type(sd3)

pandas.core.series.Series

### Tuple To Series

In [15]:
# '이순신' , '1991-03-15', '남자'
tup_data = ('이순신' , '1991-03-15', '남자')
tup_data

('이순신', '1991-03-15', '남자')

In [16]:
# 튜플을 리스트로 
sd4 = pd.Series(tup_data)
sd4

0           이순신
1    1991-03-15
2            남자
dtype: object

In [17]:
# 좀 더 짜임새 있게 만들기

col_name = ["이름","생년월일","성별"]
sd4 = pd.Series(tup_data,
               index = col_name)
sd4

이름             이순신
생년월일    1991-03-15
성별              남자
dtype: object

# Make a dataframe

## Dictionary To Dataframe

In [19]:
# 동물 : 'Dog' , 'Cat', 'Tiger', 'Lion', 'Monkey'
# 나이 : 7 , 9, 2, 3, 1
dict_data = {'동물': ['Dog' , 'Cat', 'Tiger', 'Lion', 'Monkey'],
            '나이' : [7 , 9, 2, 3, 1]}
dict_data

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [21]:
# 데이터프레임으로 만들기
df1 = pd.DataFrame(dict_data)
df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

## List To DataFrame

In [25]:
list_data = [['Dog',7],
             ['Cat',9],
             ['Tiger',2],
             ['Lion',3],
             ['Monkey',1]]
list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [28]:
# 데이터프레임으로 만들기
df2 = pd.DataFrame(list_data,
                  columns = ['동물','나이'])
df2

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

## Make Empty DataFrame

In [29]:
df_null = pd.DataFrame()
df_null

Empty DataFrame
Columns: []
Index: []